@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Joe's Pizza</h1>
   
</div>

<div class="row">
   
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-black bg-warning">
                            <p class="card-text">
                                <h5 class="card-title">
                                    Pizza Name : Farm House
                                    
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div>
                        <img src="https://www.dominos.co.in/files/items/Farmhouse.jpg" width="100%" alt="Pizza Name">
                    </div>
                    <div>
                        <div class="card-body">
                            <p class="card-text">A pizza that goes ballistic on veggies! Check out this mouth watering overload of crunchy, crisp capsicum, succulent mushrooms and fresh tomatoes.</p>
                           
                            <p class="card-text"><b>Category: </b>Veg Pizza</p>
                            <p class="card-text"><b>Spicy: </b> Low </p>
                            <p class="card-text"><b>Price: </b>469</p>
                           

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                
                                

                                <a class="btn btn-warning" onclick="    @("window.location.href='" + @Url.Action("pizza1view","home") + "'");" role="button" target="_blank"> Buy Now (Price Rs. 469) </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-black bg-warning">
                            <p class="card-text">
                                <h5 class="card-title">
                                    Pizza Name : Deluxe Veggie
                                    
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div>
                        <img src="https://www.dominos.co.in/files/items/Deluxe_Veggie.jpg" width="100%" alt="Pizza Name">
                    </div>
                    <div>
                        <div class="card-body">
                            <p class="card-text">For a vegetarian looking for a BIG treat that goes easy on the spices, this one's got it all.. The onions, the capsicum, those delectable mushrooms - with paneer and golden corn to top it all.</p>
                            
                            <p class="card-text"><b>Category: </b>Veg Pizza</p>
                            <p class="card-text"><b>Spicy: </b> Medium </p>
                            <p class="card-text"><b>Price: </b>385</p>
                           

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                
                                

                                <a class="btn btn-warning" onclick="    @("window.location.href='" + @Url.Action("pizza2view","home") + "'");" role="button" target="_blank"> Buy Now (Price Rs. 385) </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-black bg-warning">
                            <p class="card-text">
                                <h5 class="card-title">
                                    Pizza Name : Veg Extravaganza
                                    
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div>
                        <img src="https://www.dominos.co.in/files/items/Veg_Extravaganz.jpg" width="100%" alt="Pizza Name">
                    </div>
                    <div>
                        <div class="card-body">
                            <p class="card-text">A pizza that decidedly staggers under an overload of golden corn, exotic black olives, crunchy onions, crisp capsicum, succulent mushrooms, juicyfresh tomatoes and jalapeno - with extra cheese to go all around.</p>
                            
                            <p class="card-text"><b>Category: </b>Veg Pizza</p>
                            <p class="card-text"><b>Spicy: </b> High </p>
                            <p class="card-text"><b>Price: </b>450</p>
                           

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                
                                

                                <a class="btn btn-warning" onclick="    @("window.location.href='" + @Url.Action("pizza3view","home") + "'");" role="button" target="_blank"> Buy Now (Price Rs. 450) </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-black bg-warning">
                            <p class="card-text">
                                <h5 class="card-title">
                                    Pizza Name : Non Veg Supreme
                                    
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div>
                        <img src="https://www.dominos.co.in//files/items/MicrosoftTeams-image_(13).png" width="100%" alt="Pizza Name">
                    </div>
                    <div>
                        <div class="card-body">
                            <p class="card-text">Bite into supreme delight of Black Olives, Onions, Grilled Mushrooms, Pepper BBQ Chicken, Peri-Peri Chicken, Grilled Chicken Rashers</p>
                            
                            <p class="card-text"><b>Category: </b>Non Veg Pizza</p>
                            <p class="card-text"><b>Spicy: </b> High</p>
                            <p class="card-text"><b>Price: </b>609</p>
                           

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                
                                

                                <a class="btn btn-warning" onclick="    @("window.location.href='" + @Url.Action("pizza4view","home") + "'");" role="button" target="_blank"> Buy Now (Price Rs. 609) </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-black bg-warning">
                            <p class="card-text">
                                <h5 class="card-title">
                                    Pizza Name : Chicken Dominator
                                    
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div>
                        <img src="https://www.dominos.co.in//files/items/MicrosoftTeams-image_(11).png" width="100%" alt="Pizza Name">
                    </div>
                    <div>
                        <div class="card-body">
                            <p class="card-text">Treat your taste buds with Double Pepper Barbecue Chicken, Peri-Peri Chicken, Chicken Tikka & Grilled Chicken Rashers.</p>
                            
                            <p class="card-text"><b>Category: </b>Non Veg Pizza</p>
                            <p class="card-text"><b>Spicy: </b> Medium </p>
                            <p class="card-text"><b>Price: </b>710</p>
                           

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                
                                

                                <a class="btn btn-warning" onclick="    @("window.location.href='" + @Url.Action("pizza5view","home") + "'");" role="button" target="_blank"> Buy Now (Price Rs. 710) </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
</div>
